body {
  background-color: var(--color-background);
  color: var(--color-dark);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
}

#root {
  min-height: 100vh;
}

/* ========================================
   CONTAINER
======================================== */

.container {
  width: min(
    calc(100% - (var(--container-padding) * 2)),
    var(--container-width)
  );

  margin-inline: auto;
}

/* ========================================
   SECTIONS
======================================== */

.section {
  padding-block: var(--space-16);
}

.section-header {
  margin-bottom: var(--space-8);
  text-align: center;
}

.section-title {
  color: var(--color-dark);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

.section-description {
  margin-top: var(--space-2);
  color: var(--color-text);
  font-size: var(--font-size-sm);
}

/* ========================================
   RESPONSIVE
======================================== */

@media (max-width: 768px) {
  .container {
    width: min(calc(100% - (var(--space-4) * 2)), var(--container-width));
  }

  .section {
    padding-block: var(--space-12);
  }
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-4);
}

.icon-test {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-6);

  color: var(--color-primary);
}
